.hidden {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgrey;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.profile-menu-btn {
    background-color: white;
    border: solid 1px darkgray;
    color: black;
    padding: 5px 10px;
    border-radius: 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    background-color: #f1f1f1;
    position: absolute;
    list-style: none;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 20px;
    z-index: 1;
    font-size: 11pt;

}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-dropdown {
    padding: 20px;
    margin: 0
}

.logout-btn {
    background-color: darkgrey;
    border: solid 1px black;
    color: white;
    padding: 5px 10px;
    border-radius: 18px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.manage-spots-btn {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.manage-spots-btn:hover {
    font-weight: bold;
}

.login-signup>li:hover {
    font-weight: bold;
}

.login-signup {
    cursor: pointer;
}
