.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    font-family: 'Manrope', sans-serif;
    padding: 0 20px;
}

.login-container>span {
    display: flex;
    justify-content: center;
    padding: 20px
}

.login-header {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.login-password {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.login-button {
    display: block;
    background-color: #FF5A5F;
    border: solid 1px black;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 18px;
    text-align: center;
    font-size: 16px;
    width: 100%
}

.disabled-btn {
    background-color: lightgray;
    display: block;
    border: solid 1px black;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 18px;
    text-align: center;
    font-size: 16px;
    width: 100%
}

.input-field {
    background: #E8F0FE;
    font-family: 'Manrope', sans-serif;
    width: 100%
}

#modal-content {
    border-radius: 20px;
    height: 15em;
    width: 20em;
}

.demo-user-btn {
    background-color: #FF5A5F;
    border: solid 1px black;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    padding: 2px 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}
